# -------- Database --------
DATABASE_URL="postgresql://ghazi.saoudi@localhost:5432/ai_test_automation?schema=public"

# -------- JWT Auth --------
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# -------- Frontend --------
FRONTEND_URL=http://localhost:3000

# -------- Mail SMTP --------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM=your_email@gmail.com

# -------- Jira Atlassian OAuth --------
ATLASSIAN_CLIENT_ID=your_atlassian_client_id
ATLASSIAN_CLIENT_SECRET=your_atlassian_client_secret
ATLASSIAN_REDIRECT_URI=http://localhost:3001/jira/oauth/callback
ATLASSIAN_SCOPES=read:jira-work read:jira-user offline_access
ATLASSIAN_AUDIENCE=api.atlassian.com
JIRA_OAUTH_STATE_SECRET=your_random_state_secret

# -------- GroqCloud for Jira extraction + spec extraction --------
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=qwen/qwen3-32b
GROQ_SPEC_MODEL=llama-3.3-70b-versatile
SPEC_DOC_MAX_CHARS=55000

# -------- AI service FastAPI settings --------
AI_SERVICE_URL=http://127.0.0.1:8001
AI_SERVICE_TIMEOUT_MS=120000

# -------- Analytic Assistant --------
OPENAI_API_KEY=your_openai_api_key
ANALYTICS_OPENAI_MODEL=gpt-4.1-mini

# -------- Live Execution --------
LIVE_EXECUTION_MODE=docker
LIVE_EXECUTION_PLAYWRIGHT_TS_IMAGE=testflow-playwright-ts-runner
LIVE_EXECUTION_CYPRESS_TS_IMAGE=testflow-cypress-ts-runner
LIVE_EXECUTION_PLAYWRIGHT_PYTHON_IMAGE=testflow-playwright-python-runner
LIVE_EXECUTION_SELENIUM_JAVA_IMAGE=testflow-selenium-java-runner
LIVE_EXECUTION_TIMEOUT_MS=300000